html, body {
	margin: 0;
	padding: 0;
	background-color: #f5f5f5;
	font-family: "Open Sans", sans-serif;
}

a, a:hover, a:focus {
	color: black;
	text-decoration: none;
}

.container {
	width: 90%;
	padding-top: 20px;
	padding-bottom: 20px;
}

.title {
	margin: auto;
	background-color: #413865;
	padding: 30px;
	text-align: center;
	margin: 20px 0px;
}

.title h3 {
	color: white;
}

.streams {
	width: calc(100% - -20px);
	padding-bottom: 30px;
}

.streamers h4 {
	font-weight: bold;
	margin-bottom: 4px;
	/*color: #6445a2;*/
}

.row {
	margin: 0;
}

.live, .offline {
	padding: 20px 20px 0px 0px;
}

.streamers {
	padding: 7px 20px;
	padding-left: 0;
}

.box {
	position: absolute;
	text-transform: uppercase;
	/*right: 20px;*/
	padding: 5px 10px;
	color: white;
	background-color: rgba(0,0,0, 0.75);
	letter-spacing: 0.5px;
	/*right: 35px;*/
	border-radius: 10px 0px 0px 0px;
}

.circle {
	height: 10px;
	width: 10px;
	border-radius: 50%;
	display: inline-block;
	margin-right: 7px;
}

.live .circle {
	background-color: #cd4443;
}

.offline .circle {
	background-color: #8e8f8d;
}

.preview {
	max-width: 100%;
	max-height: 100%;
	object-fit: cover;
	box-shadow: 1px 0px 10px rgba(0,0,0, 0.1);
	border-radius: 10px;
}

.viewers {
	position: absolute;
	right: 20px;
	color: white;
	background-color: rgba(0,0,0, 0.5);
	padding: 5px 10px;
	letter-spacing: 0.5px;
	display: flex;
	align-items: center;
	bottom: 78px;
}

.viewers i {
	margin-right: 6px;
	font-size: 10px;
	top: 20px;
}

.offline .viewers {
	display: none;
}

.current-status {
	display: flex;
	align-items: center;
	padding: 20px 0 10px;
}

.tag {
	margin-right: 15px;
	padding: 0 24px;
	border-radius: 30px;
}

.tag h4 {
	font-weight: bold;
	letter-spacing: 1px;
	font-size: 15px;
}

.tag:hover, .active {
	color: white;
	background-color: #583d8d;
	cursor: pointer;
}

.viewers {
	display: none;
}